@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/type/scss/font-family';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Flyout
.flyout--container {
  padding: 1rem;
}

.flyout--container .flyout--container__filters {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.flyout--label {
  @include type.type-style('body-compact-01');
  @include font-family.font-weight('semibold');

  padding-bottom: 1rem;
}

.filter-flyout-example .cds--popover-content {
  max-inline-size: 642px;
}

.filter-checkbox-group-label {
  @include type.type-style('label-01');
  color: $text-secondary;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.filter-flyout-button-set.cds--btn-set .cds--btn {
  max-width: none;
  width: 50%;
}

.tag-overflow-flyout-example {
  height: 48px;
  padding-left: 0.5rem;
}

.filter--summary {
  display: flex;
  align-items: center;
}

.flyout-dropdown-selected-item {
  text-transform: capitalize;
}
