@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/type/scss/font-family';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.tanstack-example {
  padding-bottom: 2rem;
}




// Virtual
.virtual-skeleton-row {
  background-color: $layer;
}

.virtual-description {
  max-width: 480px;
  padding-bottom: 1rem;
}

.virtual-example {
  padding-bottom: 2rem;
}

// Row click
.row-click {
  cursor: pointer;
}


// Sorting
.descending-sorting-icon {
  transform: rotate(180deg);
  transition: transform 200ms;
}

.sortable-button-header {
  color: $text-primary;
  width: 100%;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  max-inline-size: none;
}

.sortable-example.cds--data-table th {
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.sortable-example {
  padding-bottom: 2rem;
}


// Nested row
.row-expander {
  width: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.row-expander .row-expanded-icon {
  transform: rotate(90deg);
  transition: transform 200ms;
}


// Customize cols
$drag-class: c4p__draggable-item;
$horizontal-drag-height: 6rem;

.#{$drag-class} {
  position: relative;
  width: 100%;
  height: 3rem;
  padding: $spacing-03;
  border-bottom: 1px solid $border-subtle;
  background-color: $layer;
  cursor: grab;
  list-style-type: none;

  &.#{$drag-class}--horizontal {
    width: 6rem;
    height: $horizontal-drag-height;
    border-right: 1px solid $border-subtle;
    border-bottom: none;
  }

  &.#{$drag-class}:focus {
    @include utilities.focus-outline('outline');
  }
}

.#{$drag-class}--dragging {
  @include utilities.focus-outline('outline');

  position: relative;
  z-index: 2000000;
  background-color: $layer-hover;
  cursor: grabbing;
}

.#{$drag-class}__assistive-text {
  position: absolute;
  visibility: hidden;
}

.#{$drag-class}__draggable-underlay {
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$drag-class}__draggable-underlay-item {
  // must match draggable item size
  width: 100%;
  height: $spacing-09;
  border: 2px dashed $focus;
  /* stylelint-disable-next-line carbon/theme-token-use */
  background-color: colors.$blue-10;
}

.#{$drag-class}__list-container {
  position: relative;
}

.#{$drag-class}__list-container--grid,
.#{$drag-class}__draggable-underlay--grid {
  display: grid;
  max-width: 800px;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--col-count), 1fr);
}

.#{$drag-class}--type {
  @include type.type-style('body-compact-01');
}

.#{$drag-class}__list-container--horizontal,
.#{$drag-class}__draggable-underlay--horizontal {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
}

.#{$drag-class}__draggable-underlay--horizontal
  .#{$drag-class}__draggable-underlay-item {
  height: $horizontal-drag-height;
}

.uppercase {
  text-transform: capitalize;
}

.visibility-checkbox {
  max-width: 32px;
}

// Editable cells
[role="gridcell"]:focus, [role="gridcell"] *:focus,
[role="grid"] [tabindex="0"]:focus {
  @include utilities.focus-outline('outline'); 
}

.editable-cell-input .cds--text-input {
  height: 48px;
}

// Flyout
.flyout--container {
  padding: 1rem;
}

.flyout--container .flyout--container__filters {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.flyout--label {
  @include type.type-style('body-compact-01');
  @include font-family.font-weight('semibold');

  padding-bottom: 1rem;
}

.filter-flyout-example .cds--popover-content {
  max-inline-size: 642px;
}

.filter-checkbox-group-label {
  @include type.type-style('label-01');
  color: $text-secondary;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.filter-flyout-button-set.cds--btn-set .cds--btn {
  max-width: none;
  width: 50%;
}

.tag-overflow-flyout-example {
  height: 48px;
  padding-left: 0.5rem;
}

.filter--summary {
  display: flex;
  align-items: center;
}

.flyout-dropdown-selected-item {
  text-transform: capitalize;
}

// infinite scroll
.infinite-scroll-container {
  margin-top: 1rem;
}

// Filter panel
// Flyout
.flyout--container {
  padding: 1rem;
}

.flyout--container .flyout--container__filters {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.flyout--label {
  @include type.type-style('body-compact-01');
  @include font-family.font-weight('semibold');

  padding-bottom: 1rem;
}

.filter-flyout-example .cds--popover-content {
  max-inline-size: 642px;
}

.filter-checkbox-group-label {
  @include type.type-style('label-01');
  color: $text-secondary;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.filter-flyout-button-set.cds--btn-set .cds--btn {
  max-width: none;
  width: 50%;
}

.tag-overflow-flyout-example {
  height: 48px;
  padding-left: 0.5rem;
}

.filter--summary {
  display: flex;
  align-items: center;
}

.flyout-dropdown-selected-item {
  text-transform: capitalize;
}

.panel--container {
  min-height: var(--table-height);
  min-width: 320px;
  // border: 2px solid red;
  border-right: 1px solid $border-subtle;
  border-top: 1px solid $border-subtle;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: $layer-02;
  opacity: 0;
  transform: translateX(-320px);

  &::before {
    position: absolute;
    height: 1px;
    content: '';
    top: -1px;
    left: 0;
    width: 48px;
    background-color: $layer-02;
  }
}

.cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filter--panel__content {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: var(--table-height);
  .filter--panel__close-wrapper.cds--popover-container:not(.cds--popover--auto-align) {
    position: initial;
  }
  .filter--panel__close-wrapper.cds--popover-caret {
    visibility: hidden;
  }
}

.filter--panel__close {
  position: absolute;
  top: 0;
  right: 0;
}

.filter--panel__triggering-icon-open {
  background-color: $layer-02;
}

.filter-panel-button-set {
  position: sticky;
  bottom: 0;
  width: 320px;
  button.cds--btn {
    min-width: 50%;
    max-inline-size: 50%;
  }
}

.filter--panel__header {
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: $layer-02;
  border-bottom: 1px solid $border-subtle;
  z-index: 2;
}