@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/type/scss/font-family';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Sorting
.descending-sorting-icon {
  transform: rotate(180deg);
  transition: transform 200ms;
}

.sortable-button-header {
  color: $text-primary;
  width: 100%;
  padding-inline: 1rem;
  max-inline-size: none;
}

.sortable-example.cds--data-table th {
  padding-inline: 0;
}

.sortable-example {
  padding-bottom: 2rem;
}
