@use '@carbon/styles/scss/theme' as *;

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.tanstack-example {
  padding-bottom: 2rem;
}




// Virtual
.virtual-skeleton-row {
  background-color: $layer;
}

.virtual-description {
  max-width: 480px;
  padding-bottom: 1rem;
}

.virtual-example {
  padding-bottom: 2rem;
}

// Row click
.row-click {
  cursor: pointer;
}


// Sorting
.descending-sorting-icon {
  transform: rotate(180deg);
  transition: transform 200ms;
}

.sortable-button-header {
  color: $text-primary;
  width: 100%;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  max-inline-size: none;
}

.sortable-example.cds--data-table th {
  padding-inline-end: 0;
  padding-inline-start: 0;
}
