@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/type/scss/font-family';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Editable cells
[role='gridcell']:focus,
[role='gridcell'] *:focus,
[role='grid'] [tabindex='0']:focus {
  @include utilities.focus-outline('outline');
}

.editable-cell-input .cds--text-input {
  height: 48px;
}
